<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>swim-club</display-name>

    <!-- 存款 Servlet -->
    <servlet>
        <servlet-name>DepositServlet</servlet-name>
        <servlet-class>com.swim.servlet.DepositServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepositServlet</servlet-name>
        <url-pattern>/api/deposit</url-pattern>
    </servlet-mapping>

    <!-- 退卡 Servlet -->
    <servlet>
        <servlet-name>RefundServlet</servlet-name>
        <servlet-class>com.swim.servlet.RefundServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefundServlet</servlet-name>
        <url-pattern>/api/refund</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>